<a name="<%= comment.id %>"></a>
<div class="comment" data-id="<%= comment.id %>" data-parent-id="<%= comment.parent.try(:id) %>">
  <%= link_to("-", comments_path, :class => "comment-collapse", 'data-collapsed' => false) %>
  <div class="comment-user">
    <% if comment.deleted? %>
      <span class="deleted"><%= t('comments.deleted_placeholder') %></span>
    <% else %>
      <span class="name"><%= comment.user.name %></span>
    <% end %>
  </div>
  <div class="comment-date">
    <%= comment.deleted? ? "&nbsp;".html_safe : comment_date(comment) %>
  </div>
  <div class="collapsable">
    <div class="comment-body">
      <%= (comment.deleted? ? "<p class=\"deleted\">...</p>" : comment.html).html_safe  %>
    </div>
    <%= render(:partial => "comments/reply", :locals => { :parent => comment }) %>
    <% unless comment.comments.empty? %>
      <%= render(:partial => "comments/comments", :locals => { :parent => comment }) %>
    <% end %>
  </div>
</div>