<div class="accounts password">
  <h2><%= t('devise.passwords.forgot') %></h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div class="form password new">
      
      <%= error_messages(resource) %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="actions">
        <%= f.submit t('devise.passwords.reset') %>
      </div>
    </div>
  <% end %>

  <%= render "links" %>
</div>