<div id="recent-posts">
  <ul>
    <% posts.each do |p| %>
      <li>
        <div class="title">
          <%= link_to(post.title, post_path(p)) %>
        </div>
        <div class="datetime">
          <%= published_at(p) %>
        </div>
        <% if user_signed_in? %>
          <div class="actions">
            <% if p.can_delete?(current_user) %>
              [ <%= delete_link(p) %> ]
            <% end %>
            <% if p.can_publish?(current_user) %>
              [ <%= publish_link(p) %> ]
            <% end %>
          </div>
        <% end %>
        <div class="excerpt">
          <%= p.excerpt.html_safe %>
        </div>
        <div class="comments-count">
          <%= link_to(pluralize(p.all_comments.visible_to(current_user).count, t("posts.comments_count")), post_path(p)) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>