<div id="recent-posts">
  <ul>
    <% posts.each do |p| %>
      <li>
        <div class="title">
          <%= link_to(post.title, post_path(p)) %>
        </div>
        <div class="datetime">
          <%= published_at(p) %>
        </div>
        <% if user_signed_in? %>
          <div class="actions danger">
            <% if p.can_edit?(current_user) %>
              [ <%= post_edit_link(p) %> ]
            <% end %>
            <% if p.can_delete?(current_user) %>
              [ <%= post_delete_link(p) %> ]
            <% end %>
            <% if p.can_publish?(current_user) %>
              [ <%= post_publish_link(p) %> ]
            <% end %>
          </div>
        <% end %>
        <div class="excerpt">
          <%= p.excerpt(link_to(t('read_more'), post_path(p))).html_safe %>
        </div>
        <div class="comments-count">
          <%= link_to(pluralize(p.all_comments.where(:deleted_at => nil).visible_to(current_user).count, t("posts.comments_count")), post_path(p)) %>
        </div>
        
        <% unless p == posts.last %>
          <div class="spacer"></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>