<div id="recent-posts">
  <ul>
    <% posts.each do |p| %>
      <li>
        <% unless p.published? %>
          [ <span class="unpublished"><%= t('posts.not_published') %></span> ]
        <% end %>
        <% if user_signed_in? %>
          <div class="actions">
            <% if p.can_delete?(current_user) %>
              [ <%= delete_link(p) %> ]
            <% end %>
          </div>
        <% end %>
        <div class="datetime">
          <%= link_to(published_at(p), post_path(p)) %>
        </div>
        <div class="comments-count">
          <%= link_to(pluralize(p.all_comments.visible_to(current_user).count, t("posts.comments_count")), post_path(p)) %>
        </div>
        <div class="excerpt">
          <%= p.excerpt.html_safe %>
        </div>
      </li>
    <% end %>
  </ul>
</div>