<%= form_for(@post) do |form| %>
  <div class="form post new">
    <div class="field title">
      <%= form.label(:title, t('.title')) %>
      <%= form.text_field(:title) %>
    </div>
    <div class="field excerpt">
      <%= form.label(:raw_excerpt, t('.excerpt')) %>
      <%= form.text_area(:raw_excerpt, :rows => 7) %>
    </div>
    <div class="field body">
      <%= form.label(:raw_body, t('.body')) %>
      <%= form.text_area(:raw_body) %>
    </div>
    <div class="field privacy">
      <%= form.label(:privacy, t('.privacy')) %>
      <%= form.select(:privacy, Paper::PRIVACY) %>
      <div class="info">
        <%= link_to("?", posts_path, :class => "info-link") %>
      </div>
      <div class="explain">
        <ul>
          <li><strong><%= t('doc.post.public.term') %></strong>: <%= t('doc.post.public.meaning') %></li>
          <li><strong><%= t('doc.post.private.term') %></strong>: <%= t('doc.post.private.meaning') %></li>
          <li><strong><%= t('doc.post.hidden.term') %></strong>: <%= t('doc.post.hidden.meaning') %></li>
        </ul>
      </div>
    </div>
    <div class="field publish">
      <%= form.label(:published_at, t('.publish_at')) %>
      <%= form.datetime_select(:published_at) %>
      <div class="explain"><%= t('doc.post.publish_at') %></div>
    </div>
    <div class="actions">
      <%= link_to(t('cancel'), root_path, :class => "cancel-link") %>
      <%= form.submit(@post.new_record?  ? t('.save') : t('.update')) %>
    </div>
  </div>
<% end %>