<div class="post">
  <div class="title">
    <%= @post.title %>
  </div>
  <div class="username">
    <span class="name"><%= @post.user.name %></span>
  </div>
  <div class="datetime">
    <%= published_at(@post) %>
  </div>
  <% if user_signed_in? %>
    <div class="actions danger">
      <% if @post.can_edit?(current_user) %>
        [ <%= post_edit_link(p) %> ]
      <% end %>
      <% if @post.can_delete?(current_user) %>
        [ <%= post_delete_link(@post) %> ]
      <% end %>
      <% if @post.can_publish?(current_user) %>
        [ <%= post_publish_link(@post) %> ]
      <% end %>
    </div>
  <% end %>
  <div class="body">
    <%= @post.html.html_safe %>
  </div>
</div>
<% if user_signed_in? %>
  <%= render(:partial => "comments/actions", :locals => { :parent => @post }) %>
<% else %>
  <%= link_to(t('sign_in_to_reply'), new_user_session_path) %>
<% end %>
<%= render(:partial => "comments/comments", :locals => { :parent => @post }) %>